body {
    height: 100%;
}

.striked-text {
    text-decoration: line-through;
}

.card-details {
    border: 2px solid black;
    background-color: #e6e6e6;
    margin: 30px
}

.card-details-bottom {
    position: absolute;
    bottom: 15px;
}

.vertical-line {
    border-left: 2px solid black !important;
}

.details-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-column-space_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
I
.flex-row-space_between {
    display: flex;
    justify-content: space-between;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar-icon {
    color: white;
    font-size: 1.75em
}

.title-font {
    font-family: Algerian, serif;
    color: darkblue;
}

.form-width {
    width: 550px;
}

.full-height {
    height: 100vh;
}

.login-background {
    background-image: url("../../assets/images/backgroundImage.jpg");
}

.add-category-background {
    background-image: url("../../assets/images/addCategoryBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.add-item-background {
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../../assets/images/itemBackground.jpg");
    background-repeat: round;
    background-size: cover;
}

#itemSwitch ::placeholder {
    font-weight: bold;
    font-style: italic;
}
